<button
  mat-icon-button
  (mouseenter)="onShowTooltip()"
  (mouseleave)="onHideTooltip()"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  class="machine-status-btn"
>
  <i
    class="mdi"
    [ngClass]="ongGetStatus()"
  ></i>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayPositions]="positions"
>
  <app-machine-dashboard-mini
    [machine]="machine"
    class="machine-dashboard-mini-tooltip"
  ></app-machine-dashboard-mini>
</ng-template>
