<mat-tab-group class="quickpanel" fxFlex>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="alert-header">
        ALERTS
        <button
          mat-icon-button
          class="pulse-button s-30-btn"
          aria-label="pulse"
          [routerLink]="'/status'"
          (click)="toggleSidenav('quick-panel')"
        >
          <i class="icon icon-pulse"></i>
        </button>
      </div>
    </ng-template>
    <fury-scrollbar class="overflow-container" fxFlex="auto">
      <ng-container *ngFor="let alert of alerts | orderBy: '-isCritical'" [ngSwitch]="alert.alertType">
        <app-alert-schedule-slip *ngSwitchCase="'ScheduleSlip'" [alert]="alert"></app-alert-schedule-slip>
        <app-alert-warehouse-late *ngSwitchCase="'WarehouseTaskLate'" [alert]="alert"></app-alert-warehouse-late>
        <app-alert-integration-error *ngSwitchCase="'IntegrationError'" [alert]="alert"></app-alert-integration-error>
        <app-alert-licensing *ngSwitchCase="'Licensing'" [alert]="alert"></app-alert-licensing>
        <app-alert-general *ngSwitchDefault [alert]="alert"></app-alert-general>
      </ng-container>
    </fury-scrollbar>
  </mat-tab>
</mat-tab-group>
