:host {
  display: block;
  width: 100%;
}
.chart-container {
  width: 100%;
  max-width: none !important;
}

.chart-content {
  width: 100%;
}

.h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4;
}

.chart-title {
  width: 100%;
}

.filter {
  margin-left: auto;
}
