#settings {
  .header {
    padding: 24px !important;
  }

  .content {
    padding: 24px;
  }

  .form-title {
    padding: 16px;
    line-height: 1.8;
    //height: 100px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12);
    white-space: nowrap;
    strong {
      width: 60px;
      display: inline-block;
    }
  }

  .form-wrapper {
    background: #fff;
    max-width: 500px;
  }

  .agent-status .connected {
    color: #4caf50;
  }
}
