.reset-password-dialog {
  text-align: center;
  font-size: 14px;
  // max-width: 320px;
  .md-dialog-content {
    padding-top: 30px;
  }

  mat-toolbar {
    background-color: rgba(236, 177, 0, 0.9);
    .example-spacer {
      flex: 1 1 auto;
    }
  }
  mat-form-field {
    width: 100%;
    min-width: 150px;
    margin: 10px 0 0 0;
    padding: 2px;
  }

  .login-bt {
    width: 190px;
    margin-top: 10px;
    background-color: rgba(236, 177, 0, 0.9);
    color: white;

    &:hover {
      background-color: rgba(236, 177, 0, 1);
    }
  }

  .error-row {
    padding: 0 24px 24px 24px;
    color: #d32f2f !important;
    font-size: 13px;
    text-align: left;
    mat-icon {
      color: #d32f2f !important;
      font-size: 18px;
      width: 18px;
      height: 18px;
      line-height: 18px;
    }
  }
}
