<div class="reset-password-dialog">
  <mat-toolbar class="md-toolbar-tools">
    <h2>Reset Password</h2>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      (click)="cancel()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-dialog-content
    fxLayoutAlign="space-between center"
    fxLayout="row"
  >
    <mat-form-field
      appearance="fill"
      class="yellow-input"
    >
      <input
        matInput
        [(ngModel)]="user.password"
        type="password"
        placeholder="Password"
      />
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="yellow-input"
    >
      <input
        matInput
        [(ngModel)]="user.passwordConfirm"
        type="password"
        placeholder="Password (Confirm)"
      />
    </mat-form-field>

    <button
      mat-button
      class="login-bt"
      (click)="reset()"
      aria-label="LOG IN"
    >
      Reset
    </button>
  </mat-dialog-content>
  <div
    class="error-row"
    *ngFor="let err of errors; trackBy: trackByIndex"
  >
    <span class="text">{{ err | translate }}</span>
    <mat-icon>alert</mat-icon>
  </div>
</div>
