.config-add-btn {
  float: right;
  width: 36px;
  min-width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
