<h2 mat-dialog-title>Delete Order(s)</h2>

<div mat-dialog-content>
  <p class="content-txt">Are you sure you want to delete {{ ordIds.length }} orders?</p>
  <div class="error-list">
    <div
      class="error-item"
      *ngFor="let err of errors"
    >
      <div class="icon-content">
        <mat-icon>close</mat-icon>
      </div>

      <div class="error-content">{{ err }}</div>
    </div>
  </div>
</div>

<div
  mat-dialog-actions
  [align]="'end'"
>
  <button
    mat-button
    (click)="cancel()"
  >
    Cancel
  </button>
  <button
    mat-button
    color="success"
    (click)="delete()"
  >
    Delete
  </button>
</div>
