.users-table {
  max-width: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 50px;
  table-layout: fixed;
  th {
    background-color: rgb(245, 245, 245);
  }
  td {
    &:first-child {
      padding-left: 24px !important;
    }
  }
  th,
  td {
    text-align: center;
    padding: 10px 8px !important;
  }
}

.action-select {
  width: 140px;
}
