.menu-btn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  min-height: 36px;
  font-size: 14px;
  font-weight: 500;
}

.form-wrapper {
  max-width: 500px;
}

.language-button {
  min-width: 64px;
  margin: 0;
  padding: 0 16px;

  .iso {
    text-transform: uppercase;
  }

  .flag {
    margin-right: 8px;
  }
}
