.header {
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 76px !important;
  min-height: 0 !important;
  max-height: auto;
  padding: 0 24px !important;
  opacity: 1;
}

.tooling-filter-container {
  margin-left: auto;
  margin-right: 20px;
  width: 50%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  .search-input {
    width: 100%;
  }

  .report-search {
    width: 100%;
  }
}
.report-search {
  height: 35px;
  flex: 1;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ccc;
  outline: none;
  font-size: 13px;
}

.list-table {
  tr {
    height: 40px;
  }
}

.add-button {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 100;
}

::ng-deep .pattern-list-page {
  .mat-mdc-paginator-container {
    padding-right: 40px !important;
  }
}
