.file-upload-btn {
  cursor: pointer;
  padding: 0 3px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  color: #000000b3;
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.template-selector {
  width: 160px;
  margin-left: 20px;
}

::ng-deep {
  .yellow-select-panel {
    .mat-mdc-option .mat-pseudo-checkbox {
      display: none;
    }
  }
}

a:hover {
  text-decoration: none;
}
