<div class="page-layout simple fullwidth white-bg">
  <div class="main-header">
    <h2 class="text-upper">Pathfinder Machines</h2>
  </div>
  <div class="content p-24">
    <mat-tab-group
      class="xl200-tabs"
      mat-stretch-tabs="false"
      dynamicHeight
    >
      <mat-tab label="Machines">
        <app-folders-grid></app-folders-grid>
      </mat-tab>
      <mat-tab label="Users">
        <app-pathfinder-users-grid></app-pathfinder-users-grid>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
