<div class="simple-table-container mat-elevation-z2 mb-24">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <div class="table-title black-text">Service Health</div>
    <span
      *ngFor="let summary of healthSummary"
      class="health-container"
    >
      {{ summary.collection }}: {{ summary.count }}
    </span>
  </div>

  <div class="ms-responsive-table-wrapper">
    <table class="simple hover dataTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let health of healths">
          <td>{{ health.serviceName }}</td>
          <td>{{ health.status }}</td>
          <td>
            <ul>
              <li *ngFor="let error of health.errors; trackBy: trackByID">{{ error }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
